/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
  font-family: "Noto Sans";
  src: url(/img/NotoSans-Regular.woff2);
}

@media (max-width: 630px) {
  .card {
    padding: 1rem;
  }

  .btn {
    font-size: .5rem !important;
  }
}

html {
  color: #ffffff;
  font-size: 1em;
  line-height: 1.4;
}

h1 {
  text-align: center;
}

* {
  font-family: "Noto Sans", Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: url("/img/mc-background.webp") no-repeat left top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  height: 80%;
  box-shadow: white;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn .hero-carousel .grow::after, .hero-carousel #btn-border::after, .hero-carousel #btn-border::before, .hero-carousel #btn-pseudo-element, .hero-carousel .btn .grow::after, .hero-carousel .btn-danger::after, .hero-carousel .btn-danger::before, .hero-carousel .btn-disabled::after, .hero-carousel .btn-disabled::before, .hero-carousel .btn-hexagon::after, .hero-carousel .btn-hexagon::before, .hero-carousel .btn-info::after, .hero-carousel .btn-info::before, .hero-carousel .btn-primary::after, .hero-carousel .btn-primary::before, .hero-carousel .btn-secondary::after, .hero-carousel .btn-secondary::before, .hero-carousel .btn-warning::after, .hero-carousel .btn-warning::before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: .7s cubic-bezier(0,.8,.26,.99);
  -o-transition: .7s cubic-bezier(0,.8,.26,.99);
  transition: .7s cubic-bezier(0,.8,.26,.99);
}

.btn-primary {
  color: #fff;
  background-color: #34aa2f!important;
  border-color: #34aa2f!important;
}

.button-group {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991px)
  .hero-carousel .slider-center .btn-xl, .hero-carousel .slider-left .btn-xl, .hero-carousel .slider-right .btn-xl {
    padding: 1.2rem 3.5rem!important;
    font-size: 1rem!important;
  }
  .hero-carousel .btn-xl {
    padding: 1.38rem 3.25rem!important;
    font-size: 19.2px!important;
    line-height: 1.5;
    margin-top: 20px;
  }
  .hero-carousel .btn {
    font-weight: 700;
    color: #313131;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .hero-carousel .btn-primary {
    color: #fff;
    background-color: #34aa2f!important;
    border-color: #34aa2f!important;
  }
  .hero-carousel .btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .4rem 1rem;
    text-decoration: none;
  }
  .hero-carousel .btn-danger, .hero-carousel .btn-hexagon, .hero-carousel .btn-primary, .hero-carousel .btn-secondary {
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  }
  .hero-carousel .btn-primary {
    color: #fff!important;
  }
  .hero-carousel .btn-vertical-stack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .site-body .btn-primary {
    background-color: #008542!important;
  }
  .site-body a {
    color: #196d17;
  }
  .btn-primary {
    color: #fff;
    background-color: #008542!important;
    border-color: #008542!important;
  }
  .hero-carousel *, .hero-carousel ::after, .hero-carousel ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hero-carousel *, .hero-carousel ::after, .hero-carousel ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .btn-vertical-stack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .btn-primary {
    color: #fff!important;
  }
  .btn-danger, .btn-hexagon, .btn-primary, .btn-secondary {
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  }
  .btn-xl {
    padding: 0.6rem 1.2rem !important;
    font-size: 1rem !important;
    margin: 1rem;
    line-height: 1.5;
    text-decoration: none !important;
  }
  .btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
  }
  .btn-primary {
    color: #fff;
    background-color: #36b030;
    border-color: #36b030;
  }
  .btn {
    display: inline-block;
    font-weight: 700;
    color: #313131;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  @media (prefers-color-scheme: dark) {
    a {
      color: #dfdf1f;
    }
    a {
      color: #2020e0;
    }
    a {
      color: #288123;
      text-decoration: none;
      background-color: transparent;
    }
  }

  *, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
  .site-body {
    -webkit-font-smoothing: antialiased;
    background-color: #f8f5f4!important;
    min-height: 600px;
  }

  .btn .hero-carousel .grow::after, .hero-carousel #btn-border::after, .hero-carousel #btn-border::before, .hero-carousel #btn-pseudo-element, .hero-carousel .btn .grow::after, .hero-carousel .btn-danger::after, .hero-carousel .btn-danger::before, .hero-carousel .btn-disabled::after, .hero-carousel .btn-disabled::before, .hero-carousel .btn-hexagon::after, .hero-carousel .btn-hexagon::before, .hero-carousel .btn-info::after, .hero-carousel .btn-info::before, .hero-carousel .btn-primary::after, .hero-carousel .btn-primary::before, .hero-carousel .btn-secondary::after, .hero-carousel .btn-secondary::before, .hero-carousel .btn-warning::after, .hero-carousel .btn-warning::before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: .7s cubic-bezier(0,.8,.26,.99);
    -o-transition: .7s cubic-bezier(0,.8,.26,.99);
    transition: .7s cubic-bezier(0,.8,.26,.99);
    text-decoration: none !important;
  }
  .hero-carousel #btn-border::before, .hero-carousel .btn-danger::before, .hero-carousel .btn-disabled::before, .hero-carousel .btn-hexagon::before, .hero-carousel .btn-info::before, .hero-carousel .btn-primary::before, .hero-carousel .btn-secondary::before, .hero-carousel .btn-warning::before {
    -webkit-box-shadow: 0 -4px rgb(0 0 0 / 30%) inset, 0 4px rgb(255 255 255 / 50%) inset, -4px 0 rgb(255 255 255 / 50%) inset, 4px 0 rgb(0 0 0 / 30%) inset;
    box-shadow: 0 -4px rgb(0 0 0 / 30%) inset, 0 4px rgb(255 255 255 / 50%) inset, -4px 0 rgb(255 255 255 / 50%) inset, 4px 0 rgb(0 0 0 / 30%) inset;
    z-index: -1;
  }
  .hero-carousel .btn .grow::after, .hero-carousel .btn-danger::after, .hero-carousel .btn-danger::before, .hero-carousel .btn-disabled::after, .hero-carousel .btn-disabled::before, .hero-carousel .btn-hexagon::after, .hero-carousel .btn-hexagon::before, .hero-carousel .btn-info::after, .hero-carousel .btn-info::before, .hero-carousel .btn-primary::after, .hero-carousel .btn-primary::before, .hero-carousel .btn-secondary::after, .hero-carousel .btn-secondary::before, .hero-carousel .btn-warning::after, .hero-carousel .btn-warning::before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: .7s cubic-bezier(0,.8,.26,.99);
    -o-transition: .7s cubic-bezier(0,.8,.26,.99);
    transition: .7s cubic-bezier(0,.8,.26,.99);
  }
  .hero-carousel .btn-primary .grow, .hero-carousel .btn-primary::before {
    background-color: #34aa2f;
    -webkit-box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
  }
  .hero-carousel *, .hero-carousel ::after, .hero-carousel ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hero-carousel *, .hero-carousel ::after, .hero-carousel ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .btn-primary .grow, .btn-primary::before {
    background-color: #36b030;
    -webkit-box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
  }
  #btn-border::before, .btn-danger::before, .btn-disabled::before, .btn-hexagon::before, .btn-info::before, .btn-primary::before, .btn-secondary::before, .btn-warning::before {
    -webkit-box-shadow: 0 -4px rgb(0 0 0 / 30%) inset, 0 4px rgb(255 255 255 / 50%) inset, -4px 0 rgb(255 255 255 / 50%) inset, 4px 0 rgb(0 0 0 / 30%) inset;
    box-shadow: 0 -4px rgb(0 0 0 / 30%) inset, 0 4px rgb(255 255 255 / 50%) inset, -4px 0 rgb(255 255 255 / 50%) inset, 4px 0 rgb(0 0 0 / 30%) inset;
    z-index: -1;
  }
  #btn-border::after, #btn-border::before, #btn-pseudo-element, .btn .grow::after, .btn-danger::after, .btn-danger::before, .btn-disabled::after, .btn-disabled::before, .btn-hexagon::after, .btn-hexagon::before, .btn-info::after, .btn-info::before, .btn-primary::after, .btn-primary::before, .btn-secondary::after, .btn-secondary::before, .btn-warning::after, .btn-warning::before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: .7s cubic-bezier(0,.8,.26,.99);
    -o-transition: .7s cubic-bezier(0,.8,.26,.99);
    transition: .7s cubic-bezier(0,.8,.26,.99);
  }
  *, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hero-carousel #btn-border::after, .hero-carousel .btn-danger::after, .hero-carousel .btn-disabled::after, .hero-carousel .btn-hexagon::after, .hero-carousel .btn-info::after, .hero-carousel .btn-primary::after, .hero-carousel .btn-secondary::after, .hero-carousel .btn-warning::after {
    -webkit-box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  }
  .btn .hero-carousel .grow::after, .hero-carousel #btn-border::after, .hero-carousel #btn-border::before, .hero-carousel #btn-pseudo-element, .hero-carousel .btn .grow::after, .hero-carousel .btn-danger::after, .hero-carousel .btn-danger::before, .hero-carousel .btn-disabled::after, .hero-carousel .btn-disabled::before, .hero-carousel .btn-hexagon::after, .hero-carousel .btn-hexagon::before, .hero-carousel .btn-info::after, .hero-carousel .btn-info::before, .hero-carousel .btn-primary::after, .hero-carousel .btn-primary::before, .hero-carousel .btn-secondary::after, .hero-carousel .btn-secondary::before, .hero-carousel .btn-warning::after, .hero-carousel .btn-warning::before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: .7s cubic-bezier(0,.8,.26,.99);
    -o-transition: .7s cubic-bezier(0,.8,.26,.99);
    transition: .7s cubic-bezier(0,.8,.26,.99);
  }
  .hero-carousel .btn .grow::after, .hero-carousel .btn-danger::after, .hero-carousel .btn-danger::before, .hero-carousel .btn-disabled::after, .hero-carousel .btn-disabled::before, .hero-carousel .btn-hexagon::after, .hero-carousel .btn-hexagon::before, .hero-carousel .btn-info::after, .hero-carousel .btn-info::before, .hero-carousel .btn-primary::after, .hero-carousel .btn-primary::before, .hero-carousel .btn-secondary::after, .hero-carousel .btn-secondary::before, .hero-carousel .btn-warning::after, .hero-carousel .btn-warning::before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: .7s cubic-bezier(0,.8,.26,.99);
    -o-transition: .7s cubic-bezier(0,.8,.26,.99);
    transition: .7s cubic-bezier(0,.8,.26,.99);
  }
  .hero-carousel *, .hero-carousel ::after, .hero-carousel ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hero-carousel *, .hero-carousel ::after, .hero-carousel ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #btn-border::after, .btn-danger::after, .btn-disabled::after, .btn-hexagon::after, .btn-info::after, .btn-primary::after, .btn-secondary::after, .btn-warning::after {
    -webkit-box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  }
  #btn-border::after, #btn-border::before, #btn-pseudo-element, .btn .grow::after, .btn-danger::after, .btn-danger::before, .btn-disabled::after, .btn-disabled::before, .btn-hexagon::after, .btn-hexagon::before, .btn-info::after, .btn-info::before, .btn-primary::after, .btn-primary::before, .btn-secondary::after, .btn-secondary::before, .btn-warning::after, .btn-warning::before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: .7s cubic-bezier(0,.8,.26,.99);
    -o-transition: .7s cubic-bezier(0,.8,.26,.99);
    transition: .7s cubic-bezier(0,.8,.26,.99);
  }
  *, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

